<h1>Guestbook#index</h1>
<p>Find me in app/views/guestbook/index.html.erb</p>

<script>
  function init() {
    Tabletop.init( { key: 'https://docs.google.com/spreadsheets/d/1-j3vsvW1pcukJf5EkeYNdc52K5suqNT5nlmR4qPRe5s/pubhtml',
                    callback: function(data, tabletop) {
                        console.log(data)
                    },
                    simpleSheet: true } )
  }
  window.addEventListener('DOMContentLoaded', init);
</script>
