<div class="tc">
  <a data-scroll href="#scroll-to" class="chevron hvr-wobble-vertical">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="32" height="32" fill="none" stroke="currentcolor" stroke-width="1" style="display: inline-block; vertical-align: middle; overflow: visible; margin: 16px;">
      <path d="M1.0606601717798212 5 L8 11.939339828220179 L14.939339828220179 5"></path>
    </svg>
  </a>
</div>