<div class="vh-100 mw6 center flex justify-center">
  <div class="self-center tc">
    <h2 class="baskerville f1 f-subheadline-ns normal">
      Khailee Ng
      <br>
        <i>&</i>
      <br>
      Elisa Khong
    </h2>
    <p class="f6 f5-ns lh-copy">
      Join them on 17.11.17 in cyberspace, where they’ll commune in love and embrace.
    </p>

    <%= render partial: "partials/chevron" %>
  </div>
</div>

<div id="scroll-to" class="mw6 center pv5 bt b--white-20">
  <div class="bg-white w6 h5"></div>
</div>

<div class="mw6 cf sans-serif center mb5">
  <%= render partial: "partials/nav" %>
</div>