<div class="vh-100-ns mw6 center flex justify-center">
  <div class="self-center">
    <h2 class="georgia sans-serif mv4 f1 f-subheadline-ns normal lh-title">Speeches</h2>

    <p class="f6 f5-ns lh-copy">
      The first step was discarding preconceived notions of a design library as a catalogue of ready-made components, and embracing instead the discrete properties that make up the components as the toolkit from which UI systems are built.
    </p>

    <%= render partial: "partials/chevron" %>
  </div>
</div>
