<div class="vh-50 vh-100-ns mw6 center flex justify-center">
  <div class="self-center">
    <h2 class="georgia sans-serif mv4 f1 f-subheadline-ns normal lh-title">Story</h2>

    <p class="f6 f5-ns lh-copy">
      The first step was discarding preconceived notions of a design library as a catalogue of ready-made components, and embracing instead the discrete properties that make up the components as the toolkit from which UI systems are built.
    </p>
  </div>
</div>

<div class="mw6 center pv5 bt b--white-20">
  <h4 class="f4 sans-serif normal tc">Paths Cross</h4>
  <p class="f6 lh-copy">
    Elisa is invited to a birthday house party, where the birthday boy happens to be Khailee's best friend (links to best man speech). As the pace of the night slows and draws to an end, a handful of friends gather in the living room for a social chat.
  </p>

  <div class="cf">
    <div class="fr">
      <div class="bubble-right">
        So Elisa, I heard that you’re working with a Buddhist organization… they’re pretty well-known in Malaysia.
      </div>
    </div>
  </div>

  <div class="cf">
    <div class="fl">
      <div class="bubble-left">
        Yeah, I love it. Lots of young people engaged in spiritual practice, and in work solely to benefit others. It’s incredible.
      </div>
    </div>
  </div>

  <div class="cf">
    <div class="fr">
      <div class="bubble-right">
        I’ve been meaning to learn how to meditate. Do you know how to?
      </div>
    </div>
  </div>

  <div class="cf">
    <div class="fl">
      <div class="bubble-left">
        I’d advise you to check out the 2D/1N program… I only know how to do very rudimentary breathing meditation.
      </div>
    </div>
  </div>

  <div class="cf">
    <div class="fr">
      <div class="bubble-right">
        Can you show us how to do it?
      </div>
    </div>
  </div>

  <div class="cf">
    <div class="fl">
      <div class="bubble-left">
        Sure.
      </div>
    </div>
  </div>
</div>
