<div class="vh-50 vh-100-ns mw6 center flex justify-center">
  <div class="self-center">
    <h2 class="georgia sans-serif mv4 f1 f-subheadline-ns normal lh-title">Story</h2>

    <p class="f6 f5-ns lh-copy">
      The first step was discarding preconceived notions of a design library as a catalogue of ready-made components, and embracing instead the discrete properties that make up the components as the toolkit from which UI systems are built.
    </p>

    <div class="tc dn db-ns">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="32" height="32" fill="none" stroke="currentcolor" stroke-width="1" style="display: inline-block; vertical-align: middle; overflow: visible; margin: 16px;">
        <path d="M1.0606601717798212 5 L8 11.939339828220179 L14.939339828220179 5"></path>
      </svg>
    </div>
  </div>
</div>

<div class="mw6 center pv5 bt b--white-20">
  <div class="tc">
    <h4 class="f6 bg-white-10 dib pv1 ph2 br2 normal tc">Paths Cross</h4>
  </div>
  <p class="f6 lh-copy">
    Elisa is invited to a birthday house party, where the birthday boy happens to be Khailee's best friend (links to best man speech). As the pace of the night slows and draws to an end, a handful of friends gather in the living room for a social chat.
  </p>

  <div class="cf">
    <div class="fr">
      <div class="cf">
        <div class="fl bubble-right wechat">
          So Elisa, I heard that you’re working with a Buddhist organization… they’re pretty well-known in Malaysia.
        </div>
        <div class="fr ml3 w2 h2 bg-white"></div>
      </div>
    </div>
  </div>

  <div class="cf">
    <div class="fl">
      <div class="cf">
        <div class="fl mr3 w2 h2 bg-white"></div>
        <div class="fr bubble-left wechat">
          Yeah, I love it. Lots of young people engaged in spiritual practice, and in work solely to benefit others. It’s incredible.
        </div>
      </div>
    </div>
  </div>

  <div class="cf">
    <div class="fr">
      <div class="cf">
        <div class="fl bubble-right wechat">
          I’ve been meaning to learn how to meditate. Do you know how to?
        </div>
        <div class="fr ml3 w2 h2 bg-white"></div>
      </div>
    </div>
  </div>

  <div class="cf">
    <div class="fl">
      <div class="cf">
        <div class="fl mr3 w2 h2 bg-white"></div>
        <div class="fr bubble-left wechat">
          I’d advise you to check out the 2D/1N program… I only know how to do very rudimentary breathing meditation.
        </div>
      </div>
    </div>
  </div>

  <div class="cf">
    <div class="fr">
      <div class="cf">
        <div class="fl bubble-right wechat">
          Can you show us how to do it?
        </div>
        <div class="fr ml3 w2 h2 bg-white"></div>
      </div>
    </div>
  </div>

  <div class="cf">
    <div class="fl">
      <div class="cf">
        <div class="fl mr3 w2 h2 bg-white"></div>
        <div class="fr bubble-left wechat">
          Sure.
        </div>
      </div>
    </div>
  </div>
</div>
