<div class="vh-50 vh-100-ns mw6 center flex justify-center">
  <div class="self-center">
    <h2 class="georgia sans-serif mv4 f1 f-subheadline-ns normal lh-title">Timeline</h2>

    <p class="f6 f5-ns lh-copy">
      We’d like to invite you to follow us on this journey of giving! The total wedding donation has been divided equally between the bride and groom. With each taking charge of the amount 50/50.
    </p>

    <p class="f7 lh-copy white-20 i">
      With respect towards donor recipients who may wish to opt for anonymity, we have replaced their names with the donation description. E.g. Education, Animal Rights, Health etc.
    </p>

    <div class="tc dn db-ns">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="32" height="32" fill="none" stroke="currentcolor" stroke-width="1" style="display: inline-block; vertical-align: middle; overflow: visible; margin: 16px;">
        <path d="M1.0606601717798212 5 L8 11.939339828220179 L14.939339828220179 5"></path>
      </svg>
    </div>
  </div>
</div>

<div class="mw6 center pv5 bt b--white-20">
  <div class="timeline pb4">
    <div class="cf">
      <div class="fl w-20 f3 serif bg-navy pv2">19/04</div>
      <div class="fl w-80 dib">
        <div>
          <div class="bb b--white-20 pv3">Kechara Forest Retreat <span class="fr light-green">RM80,500</span></div>
          <p class="f6 lh-copy">
            Kechara Forest Retreat was conceptualized by H.E. Tsem Tulku Rinpoche as the heart of the Kechara organization. Located 45 minutes away from the capital city of Malaysia, the beautiful holistic center serves as a sanctuary away from the hustle and bustle for anyone in need of a break from their hectic city lives to rest, relax and recharge. You can read more about the breadth and depth of work that Kechara does here.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="timeline pb4">
    <div class="cf">
      <div class="fl w-20 f3 serif bg-navy pv2">19/06</div>
      <div class="fl w-80 dib">
        <div>
          <div class="bb b--white-20 pv3">Kechara House <span class="fr light-green">RM30,000</span></div>
          <p class="f6 lh-copy">
            Kechara House is a Tibetan Buddhist center founded in 2000 by H. E. Tsem Tulku Rinpoche of Gaden Shartse Monastery. The aim of the centre is to share the ancient, universal wisdom of Buddha’s teachings with practitioners in Malaysia and the surrounding regions. The donation went towards prayers that were done for the spiritual advisor, H.E. Tsem Rinpoche.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="timeline pb4">
    <div class="cf">
      <div class="fl w-20 f3 serif bg-navy pv2">29/06</div>
      <div class="fl w-80 dib">
        <div>
          <div class="bb b--white-20 pv3">Starship Foundation <span class="fr light-green">RM35,000</span></div>
          <p class="f6 lh-copy">
            Starship Foundation’s vision is to educate, elevate, and empower marginalised communities in East Malaysia (Sabah and Sarawak) through efforts in two fields: education and agriculture. We came to know about Starship Foundation through Terence (an ex-employee of Khailee). Currently serving as the head of the education initiatives, both Terence and his wife, Deborah are fully dedicated towards ensuring that children living below the poverty line are fully supported in their academic life. The couple focuses their efforts on the construction and refurbishment of hostels, which houses children from ages 6-18. Our donation went towards the purchasing of a mobile to transport the children between the hostel and school. You can read more about their story here.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
