// Place all the styles related to the TableSeatings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.awesomplete {
  width: 100%;
}

.search {
  background-color: white;
  border: none;
  border-radius: 50px;
  padding: .2em 1em;
  display: block;
  outline: none;
  height: 40px;
  width: 100%;
  -webkit-appearance: none;
  box-sizing: border-box;

  &::placeholder {
    color: #ccc;
  }
}
